In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Pegando dados escolares

In [2]:
dados_escolares = pd.read_csv('municipio_taxas_transicao.csv')

In [3]:
dados_escolares.head()

,ano_de,ano_para,id_municipio,localizacao,rede,taxa_promocao_ef,taxa_promocao_ef_anos_iniciais,taxa_promocao_ef_anos_finais,taxa_promocao_ef_1_ano,taxa_promocao_ef_2_ano,...,taxa_migracao_eja_ef_4_ano,taxa_migracao_eja_ef_5_ano,taxa_migracao_eja_ef_6_ano,taxa_migracao_eja_ef_7_ano,taxa_migracao_eja_ef_8_ano,taxa_migracao_eja_ef_9_ano,taxa_migracao_eja_em,taxa_migracao_eja_em_1_ano,taxa_migracao_eja_em_2_ano,taxa_migracao_eja_em_3_ano
0,2017,2018,1100015,rural,total,89.4,92.4,83.6,96.5,100.0,...,0.0,0.0,0.0,0.0,0.0,1.7,0.0,0.0,NaN,NaN
1,2016,2017,1100015,rural,total,89.6,93.2,82.6,99.0,100.0,...,0.0,0.0,1.2,0.0,1.4,0.0,0.0,0.0,NaN,NaN
2,2015,2016,1100015,rural,total,90.7,95.1,82.7,98.4,99.0,...,0.0,0.0,0.0,1.4,2.7,1.6,NaN,NaN,NaN,NaN
3,2014,2015,1100015,rural,total,90.0,94.0,84.3,97.0,96.4,...,0.0,0.0,0.0,0.9,0.0,0.0,NaN,NaN,NaN,NaN
4,2013,2014,1100015,rural,total,82.5,87.2,76.9,96.9,80.4,...,0.0,0.0,1.3,1.6,1.3,1.5,NaN,NaN,NaN,NaN

* Selecionando dados de 2018

In [4]:
dados_escolares = dados_escolares[dados_escolares['ano_para']==2018]

In [5]:
dados_escolares['localizacao'].value_counts()

total     13821
urbana     5567
rural      4430
Name: localizacao, dtype: int64

* Selecionando observaÃ§Ãµes segmentadas pela localizaÃ§Ã£o (sem o total)

In [6]:
dados_escolares = dados_escolares[dados_escolares['localizacao'].isin(['urbana','rural'])]

* A variÃ¡vel resposta desejada Ã© a taxa de evasÃ£o no ensino fundamental

In [7]:
dados_escolares = dados_escolares[['id_municipio','localizacao','taxa_evasao_ef']]

## Combinando indicadores municipais com os dados escolares

In [8]:
indicadores_municipais = pd.read_csv('municipios.csv')

In [9]:
indicadores_municipais.head()

,id_municipio,ano,expectativa_vida,fecundidade_total,mortalidade_1,mortalidade_5,razao_dependencia,prob_sobrevivencia_40,prob_sobrevivencia_60,taxa_envelhecimento,...,pia,pia_10_14,pia_15_17,pia_18_mais,indice_escolaridade,indice_frequencia_escolar,idhm,idhm_e,idhm_l,idhm_r
0,1100015,1991,62.01,4.08,45.58,58.05,73.50,83.81,66.87,1.82,...,NaN,NaN,NaN,NaN,0.117,0.109,0.329,0.112,0.617,0.516
1,1100015,2000,66.90,3.11,28.36,33.96,61.65,89.61,75.40,3.35,...,20346.0,3040.0,1830.0,15476.0,0.195,0.303,0.483,0.262,0.698,0.617
2,1100015,2010,70.75,2.24,23.80,25.49,47.37,94.50,83.18,5.84,...,20434.0,2401.0,1602.0,16431.0,0.368,0.629,0.641,0.526,0.763,0.657
3,1100023,1991,66.02,3.72,32.39,41.41,69.97,88.08,74.23,1.82,...,NaN,NaN,NaN,NaN,0.200,0.199,0.432,0.199,0.684,0.593
4,1100023,2000,69.52,2.77,21.68,25.99,59.88,91.91,80.15,2.92,...,57064.0,8285.0,5190.0,43589.0,0.314,0.358,0.556,0.343,0.742,0.674

* Pegando alguns indicadores e do perÃ­odo mais recente possÃ­vel (2010)

In [10]:
indicadores_municipais = indicadores_municipais[['id_municipio','ano','expectativa_vida','indice_gini','prop_pobreza_extrema',
         'taxa_ocupados_sem_carteira','taxa_agua_encanada','taxa_mulheres_chefe_filho_15m']]
indicadores_municipais = indicadores_municipais.loc[indicadores_municipais['ano'] == 2010]

In [11]:
indicadores_municipais.head()

,id_municipio,ano,expectativa_vida,indice_gini,prop_pobreza_extrema,taxa_ocupados_sem_carteira,taxa_agua_encanada,taxa_mulheres_chefe_filho_15m
2,1100015,2010,70.75,0.58,14.29,23.17,93.69,14.51
5,1100023,2010,73.36,0.53,4.36,19.21,98.54,18.07
8,1100031,2010,70.39,0.51,7.27,22.12,95.49,7.03
11,1100049,2010,74.27,0.57,5.97,18.21,97.96,12.80
14,1100056,2010,72.94,0.50,4.72,25.05,97.53,25.88

* Combinando as tabelas pelo municÃ­pio

In [12]:
df = pd.merge(dados_escolares,indicadores_municipais, on = 'id_municipio', how = 'left')
df.drop('ano', axis=1, inplace=True)
df.head()

,id_municipio,localizacao,taxa_evasao_ef,expectativa_vida,indice_gini,prop_pobreza_extrema,taxa_ocupados_sem_carteira,taxa_agua_encanada,taxa_mulheres_chefe_filho_15m
0,1100015,rural,2.3,70.75,0.58,14.29,23.17,93.69,14.51
1,1100015,urbana,2.6,70.75,0.58,14.29,23.17,93.69,14.51
2,1100023,rural,3.1,73.36,0.53,4.36,19.21,98.54,18.07
3,1100023,urbana,2.1,73.36,0.53,4.36,19.21,98.54,18.07
4,1100031,rural,0.0,70.39,0.51,7.27,22.12,95.49,7.03

## PreparaÃ§Ã£o dos dados

* SeparaÃ§Ã£o entre variÃ¡veis independentes e dependente

In [13]:
df_indep = df[['localizacao','expectativa_vida','indice_gini',
                'prop_pobreza_extrema','taxa_ocupados_sem_carteira','taxa_agua_encanada','taxa_mulheres_chefe_filho_15m']]
df_dep = df[['taxa_evasao_ef']]

* A variÃ¡vel dependente serÃ¡ categorizada, entre taxa de evasao acima e abaixo da mÃ©dia

In [14]:
df_dep['taxa_evasao_ef'].mean()

2.679688755020086

In [15]:
df_dep['evasao_categ'] = np.where(df_dep['taxa_evasao_ef'] > 2.68, 1, 0)
df_dep.drop('taxa_evasao_ef',axis=1,inplace=True)

C:\Users\gcabr\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\gcabr\Anaconda3\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [16]:
# Verificando a correlaÃ§Ã£o entre as variÃ¡veis quantitativas
df_indep.corr("spearman")

,expectativa_vida,indice_gini,prop_pobreza_extrema,taxa_ocupados_sem_carteira,taxa_agua_encanada,taxa_mulheres_chefe_filho_15m
expectativa_vida,1.000000,-0.397617,-0.826018,-0.557113,0.610300,-0.585541
indice_gini,-0.397617,1.000000,0.615290,0.279101,-0.333032,0.418447
prop_pobreza_extrema,-0.826018,0.615290,1.000000,0.549085,-0.707291,0.638894
taxa_ocupados_sem_carteira,-0.557113,0.279101,0.549085,1.000000,-0.408908,0.385084
taxa_agua_encanada,0.610300,-0.333032,-0.707291,-0.408908,1.000000,-0.454067
taxa_mulheres_chefe_filho_15m,-0.585541,0.418447,0.638894,0.385084,-0.454067,1.000000

In [17]:
# A variÃ¡vel de pobreza extrema esta fortemente correlacionada com duas outras variÃ¡veis, assim, optou-se pela exclusÃ£o
df_indep.drop(['prop_pobreza_extrema'], axis=1,inplace=True)

C:\Users\gcabr\Anaconda3\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_indep,df_dep,test_size=0.30, random_state=764)

* Transformando a variÃ¡vel qualitativa de localizaÃ§Ã£o em um formato categorico

In [19]:
df_indep.dtypes

localizacao                       object
expectativa_vida                 float64
indice_gini                      float64
taxa_ocupados_sem_carteira       float64
taxa_agua_encanada               float64
taxa_mulheres_chefe_filho_15m    float64
dtype: object

In [20]:
categorias_localizacao = pd.CategoricalDtype(categories=df_indep.localizacao.unique())

In [21]:
# Aplicando na base de treino e teste
X_train['localizacao'] = X_train.localizacao.astype(categorias_localizacao)
X_test['localizacao'] = X_test.localizacao.astype(categorias_localizacao)

C:\Users\gcabr\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\gcabr\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

* Transformando a variÃ¡vel categorica em dummy

In [22]:
X_train = pd.get_dummies(X_train,columns=['localizacao'])
X_test = pd.get_dummies(X_test,columns=['localizacao'])

* Tratando os dados faltantes com o input da mediana

In [23]:
X_train.dtypes

expectativa_vida                 float64
indice_gini                      float64
taxa_ocupados_sem_carteira       float64
taxa_agua_encanada               float64
taxa_mulheres_chefe_filho_15m    float64
localizacao_rural                  uint8
localizacao_urbana                 uint8
dtype: object

In [24]:
X_train.isnull().sum()

expectativa_vida                 5
indice_gini                      5
taxa_ocupados_sem_carteira       5
taxa_agua_encanada               5
taxa_mulheres_chefe_filho_15m    5
localizacao_rural                0
localizacao_urbana               0
dtype: int64

In [25]:
X_test.isnull().sum()

expectativa_vida                 3
indice_gini                      3
taxa_ocupados_sem_carteira       3
taxa_agua_encanada               3
taxa_mulheres_chefe_filho_15m    3
localizacao_rural                0
localizacao_urbana               0
dtype: int64

In [26]:
# Aplica-se sempre a mediana dos dados de treino
mediana_expec_vida = X_train.expectativa_vida.median()
X_train.loc[X_train.expectativa_vida.isnull(),'expectativa_vida'] = mediana_expec_vida
X_test.loc[X_test.expectativa_vida.isnull(),'expectativa_vida'] = mediana_expec_vida

mediana_gini = X_train.indice_gini.median()
X_train.loc[X_train.indice_gini.isnull(),'indice_gini'] = mediana_gini
X_test.loc[X_test.indice_gini.isnull(),'indice_gini'] = mediana_gini

mediana_ocupados = X_train.taxa_ocupados_sem_carteira.median()
X_train.loc[X_train.taxa_ocupados_sem_carteira.isnull(),'taxa_ocupados_sem_carteira'] = mediana_ocupados
X_test.loc[X_test.taxa_ocupados_sem_carteira.isnull(),'taxa_ocupados_sem_carteira'] = mediana_ocupados

mediana_agua = X_train.taxa_agua_encanada.median()
X_train.loc[X_train.taxa_agua_encanada.isnull(),'taxa_agua_encanada'] = mediana_agua
X_test.loc[X_test.taxa_agua_encanada.isnull(),'taxa_agua_encanada'] = mediana_agua

mediana_mulheres = X_train.taxa_mulheres_chefe_filho_15m.median()
X_train.loc[X_train.taxa_mulheres_chefe_filho_15m.isnull(),'taxa_mulheres_chefe_filho_15m'] = mediana_mulheres
X_test.loc[X_test.taxa_mulheres_chefe_filho_15m.isnull(),'taxa_mulheres_chefe_filho_15m'] = mediana_mulheres

* Categorizando as variÃ¡veis quantitativas

In [27]:
from sklearn.preprocessing import KBinsDiscretizer

quanti = [
    'expectativa_vida', 'indice_gini',
    'taxa_ocupados_sem_carteira',
    'taxa_agua_encanada', 'taxa_mulheres_chefe_filho_15m'
] #separando uma lista das variÃ¡veis quanti

#cada variÃ¡vel sera dividida em 06 categorias, com a mesma quantidade de pontos (quantile), e serÃ¡ uma coluna de 0 ou 1
scalers = {}
for col in quanti:
    scaler = KBinsDiscretizer(n_bins=6,encode='onehot-dense',strategy='quantile')
    scaler.fit(X_train[[col]])
    
#insere a nova coluna com a identificaÃ§ao de qual era a variavel original e qual o inicio da categoria
    novas_colunas = []
    for comeco in scaler.bin_edges_[0][:-1]:
        novas_colunas.append(f'{col}_' + str(comeco))
        
# colocando as novas colunas nas bases de treino e teste, e dropando as variÃ¡veis originais
    X_train = X_train.join( pd.DataFrame(scaler.transform(X_train[[col]]),columns=novas_colunas,index=X_train.index) )
    X_test = X_test.join( pd.DataFrame(scaler.transform(X_test[[col]]),columns=novas_colunas,index=X_test.index) )  
    X_train = X_train.drop(col,axis=1)
    X_test = X_test.drop(col,axis=1)
    scalers[col] = scaler

In [28]:
X_train.head()

,localizacao_rural,localizacao_urbana,expectativa_vida_65.3,expectativa_vida_70.1,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,...,taxa_agua_encanada_82.59,taxa_agua_encanada_89.25,taxa_agua_encanada_93.77,taxa_agua_encanada_97.09,taxa_mulheres_chefe_filho_15m_0.0,taxa_mulheres_chefe_filho_15m_10.96,taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_mulheres_chefe_filho_15m_18.83,taxa_mulheres_chefe_filho_15m_23.51000000000001,taxa_mulheres_chefe_filho_15m_30.36
2115,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3681,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3342,1,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3636,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5024,0,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## DefiniÃ§Ã£o da observaÃ§Ã£o padrÃ£o

* Como todas as variÃ¡veis independentes sÃ£o colunas de 0 e 1, podemos definir uma observaÃ§Ã£o como "padrÃ£o"
    * Essa observaÃ§Ã£o seria aquela em que todas as colunas assumissem o valor 0 (zero)
    * Para tanto, precisariamos descartar uma coluna de cada variÃ¡vel, sendo essa a caracterizaÃ§Ã£o dessa observaÃ§Ã£o
    * A probabilidade desta observaÃ§Ã£o ser da classe 1, da variÃ¡vel resposta, estaria contida no intercepto do modelo
    * Assim, cada beta de cada variÃ¡vel implicarÃ¡ no aumento ou reduÃ§Ã£o da probabilidade comparado com a observaÃ§Ã£o padrÃ£o

In [29]:
# Verificando as possÃ­veis caracterÃ­sticas p/ definir a observacao padrao
X_train.sum(axis=0)

localizacao_rural                                   3093.0
localizacao_urbana                                  3904.0
expectativa_vida_65.3                               1163.0
expectativa_vida_70.1                               1165.0
expectativa_vida_71.62                              1163.0
expectativa_vida_73.23                              1173.0
expectativa_vida_74.42                              1164.0
expectativa_vida_75.69                              1169.0
indice_gini_0.28                                    1066.0
indice_gini_0.44                                     981.0
indice_gini_0.47                                    1311.0
indice_gini_0.5                                      893.0
indice_gini_0.52                                    1508.0
indice_gini_0.56                                    1238.0
taxa_ocupados_sem_carteira_3.03                     1164.0
taxa_ocupados_sem_carteira_15.26                    1168.0
taxa_ocupados_sem_carteira_20.8                     1164.0
taxa_ocupados_sem_carteira_25.305                   1168.0
taxa_ocupados_sem_carteira_29.89000000000003        1165.0
taxa_ocupados_sem_carteira_35.48                    1168.0
taxa_agua_encanada_0.15                             1165.0
taxa_agua_encanada_72.53                            1167.0
taxa_agua_encanada_82.59                            1160.0
taxa_agua_encanada_89.25                            1169.0
taxa_agua_encanada_93.77                            1165.0
taxa_agua_encanada_97.09                            1171.0
taxa_mulheres_chefe_filho_15m_0.0                   1166.0
taxa_mulheres_chefe_filho_15m_10.96                 1158.0
taxa_mulheres_chefe_filho_15m_14.760000000000003    1168.0
taxa_mulheres_chefe_filho_15m_18.83                 1170.0
taxa_mulheres_chefe_filho_15m_23.51000000000001     1167.0
taxa_mulheres_chefe_filho_15m_30.36                 1168.0
dtype: float64

* Define-se a seguinte observaÃ§Ã£o padrÃ£o:
    * RegiÃ£o Rural
    * Expectativa de vida entre 65.3 e 70.1 anos
    * Indice Gini acima de 0.56
    * Taxa de ocupados sem carteira acima de 35.48
    * Taxa de agua encanada entre 0.15 e 72.53
    * Percentual de mÃ£es chefes de famÃ­lia, sem fundamental completo e com pelo menos um filho menor de 15 anos de idade acima de 30.36

In [30]:
# Retira-se as colunas destas caracterÃ­sticas da base
X_train.drop(['localizacao_rural','expectativa_vida_65.3','indice_gini_0.56','taxa_ocupados_sem_carteira_35.48',
              'taxa_agua_encanada_0.15','taxa_mulheres_chefe_filho_15m_30.36'],axis=1,inplace=True)
X_test.drop(['localizacao_rural','expectativa_vida_65.3','indice_gini_0.56','taxa_ocupados_sem_carteira_35.48',
              'taxa_agua_encanada_0.15','taxa_mulheres_chefe_filho_15m_30.36'],axis=1,inplace=True)

## Ajustando a regressÃ£o logÃ­stica

* Emprega-se uma regularizaÃ§Ã£o L1 (Lasso)
* O hiperparÃ¢metro C calibra o impacto da regularizaÃ§Ã£o, quanto menor, mais forte

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

params = {
    'C': [0.1,0.3,0.9,1.2,2,5,10,50]
}

lr2 = LogisticRegression(penalty='l1', max_iter=10_000, solver='saga')
grid = GridSearchCV(lr2, params, cv=10, scoring='roc_auc')
grid.fit(X_train,y_train)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=10000, multi_class='auto',
                                          n_jobs=None, penalty='l1',
                                          random_state=None, solver='saga',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.1, 0.3, 0.9, 1.2, 2, 5, 10, 50]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [32]:
grid.best_params_

{'C': 0.3}

In [33]:
# Verificando a AUC na base de teste
from sklearn.metrics import roc_auc_score

auc = roc_auc_score(y_test, grid.predict_proba(X_test)[:,1])
auc

0.7543658799184136

* Verifica-se se alguma variÃ¡vel foi zerada pela penalizaÃ§Ã£o
    * Apenas a variÃ¡vel de taxa de ocupados sem carteira teve algumas categorias com beta zerado
    * PorÃ©m, como a maioria ainda foi distinta de zero, decide-se mantÃª-la no modelo

In [34]:
print(f'{"Intercepto":40s} : {grid.best_estimator_.intercept_[0]:.1f}')
for col, coef in zip(X_train.columns,grid.best_estimator_.coef_[0]):
    print(f'{col:40s} : {coef:.3f}')

Intercepto                               : 1.3
localizacao_urbana                       : -0.123
expectativa_vida_70.1                    : -0.124
expectativa_vida_71.62                   : -0.256
expectativa_vida_73.23                   : -0.703
expectativa_vida_74.42                   : -0.766
expectativa_vida_75.69                   : -1.200
indice_gini_0.28                         : -1.053
indice_gini_0.44                         : -0.664
indice_gini_0.47                         : -0.615
indice_gini_0.5                          : -0.508
indice_gini_0.52                         : -0.210
taxa_ocupados_sem_carteira_3.03          : -0.607
taxa_ocupados_sem_carteira_15.26         : -0.249
taxa_ocupados_sem_carteira_20.8          : 0.000
taxa_ocupados_sem_carteira_25.305        : 0.000
taxa_ocupados_sem_carteira_29.89000000000003 : -0.017
taxa_agua_encanada_72.53                 : -0.068
taxa_agua_encanada_82.59                 : 0.012
taxa_agua_encanada_89.25                 : -0.140
taxa_agua_encanada_93.77                 : -0.214
taxa_agua_encanada_97.09                 : -0.158
taxa_mulheres_chefe_filho_15m_0.0        : -0.829
taxa_mulheres_chefe_filho_15m_10.96      : -0.806
taxa_mulheres_chefe_filho_15m_14.760000000000003 : -0.631
taxa_mulheres_chefe_filho_15m_18.83      : -0.467
taxa_mulheres_chefe_filho_15m_23.51000000000001 : -0.236

* Para ter betas interpretÃ¡veis, necessita-se reprocessar a regressÃ£o logÃ­stica sem a regularizaÃ§Ã£o

In [35]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(penalty='none', max_iter=10_000)
lr.fit(X_train,y_train)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='none',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
# A AUC na base de teste do modelo sem regularizaÃ§Ã£o Ã© muito parecida com o modelo com regularizaÃ§Ã£o
from sklearn.metrics import roc_auc_score

auc = roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])
auc

0.7540805965067394

* Analisando e intepretando os betas do modelo
    * Verifica-se, por exemplo, que quanto maior a expectativa de vida, menor a probabilidade de pertencer a classe 1, visto os betas negativos das classes. 
        * Essa analise tem como base a observaÃ§Ã£o padrÃ£o, que Ã© de uma classe com expectativa entre 65.3 e 70.1 anos
    * Ã‰ passÃ­vel de anÃ¡lise se os betas de uma variÃ¡vel estÃ£o coerentes com a sequÃªncia das categorias, por exemplo:
        * Quanto menor a categoria do Ã­ndice gini (valores menores de gini implicam em menor desigualdade social), reduz-se a probabilidade de pertencer a classe 1 (taxa de evasÃ£o acima da mÃ©dia), visto que aumenta-se a magnitude do beta negativo
        * No caso da variÃ¡vel de taxa de agua encanada, hÃ¡ uma questÃ£o: hÃ¡ uma mudanÃ§a de beta negativo para positivo entre categorias vizinhas, o que Ã© de dificil interpretaÃ§Ã£o:
            * Nesta hipotÃ©se, pode-se agregar estas categorias em uma Ãºnica, para verificar como o beta se comporta

In [37]:
print(f'{"Intercepto":40s} : {grid.best_estimator_.intercept_[0]:.1f}')
for col, coef in zip(X_train.columns,lr.coef_[0]):
    print(f'{col:40s} : {coef:.3f}')

Intercepto                               : 1.3
localizacao_urbana                       : -0.130
expectativa_vida_70.1                    : -0.196
expectativa_vida_71.62                   : -0.315
expectativa_vida_73.23                   : -0.755
expectativa_vida_74.42                   : -0.816
expectativa_vida_75.69                   : -1.252
indice_gini_0.28                         : -1.119
indice_gini_0.44                         : -0.731
indice_gini_0.47                         : -0.683
indice_gini_0.5                          : -0.581
indice_gini_0.52                         : -0.280
taxa_ocupados_sem_carteira_3.03          : -0.638
taxa_ocupados_sem_carteira_15.26         : -0.280
taxa_ocupados_sem_carteira_20.8          : -0.019
taxa_ocupados_sem_carteira_25.305        : -0.012
taxa_ocupados_sem_carteira_29.89000000000003 : -0.051
taxa_agua_encanada_72.53                 : -0.107
taxa_agua_encanada_82.59                 : 0.010
taxa_agua_encanada_89.25                 : -0.163
taxa_agua_encanada_93.77                 : -0.234
taxa_agua_encanada_97.09                 : -0.171
taxa_mulheres_chefe_filho_15m_0.0        : -0.878
taxa_mulheres_chefe_filho_15m_10.96      : -0.860
taxa_mulheres_chefe_filho_15m_14.760000000000003 : -0.683
taxa_mulheres_chefe_filho_15m_18.83      : -0.524
taxa_mulheres_chefe_filho_15m_23.51000000000001 : -0.302

In [38]:
# Agregando as classes de taxa de agua encanada de 72.53 e 82.59
X_train['taxa_agua_encanada_72.53_v2'] = X_train['taxa_agua_encanada_82.59'] + X_train['taxa_agua_encanada_72.53']
X_test['taxa_agua_encanada_72.53_v2'] = X_test['taxa_agua_encanada_82.59'] + X_test['taxa_agua_encanada_72.53']
X_train.drop(['taxa_agua_encanada_82.59','taxa_agua_encanada_72.53'], axis=1, inplace=True)
X_test.drop(['taxa_agua_encanada_82.59','taxa_agua_encanada_72.53'], axis=1, inplace=True)

In [39]:
#Reprocessando o modelo sem regularizaÃ§Ã£o
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(penalty='none', max_iter=10_000)
lr.fit(X_train,y_train)

from sklearn.metrics import roc_auc_score

auc = roc_auc_score(y_test, lr.predict_proba(X_test)[:,1])
auc

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7533880304357969

In [40]:
# Com o ajuste, os betas da variavel de taxa de agua encanada estÃ£o seguindo uma sequÃªncia interpretÃ¡vel
print(f'{"Intercepto":40s} : {grid.best_estimator_.intercept_[0]:.4f}')
for col, coef in zip(X_train.columns,lr.coef_[0]):
    print(f'{col:40s} : {coef:.3f}')

Intercepto                               : 1.3049
localizacao_urbana                       : -0.129
expectativa_vida_70.1                    : -0.198
expectativa_vida_71.62                   : -0.311
expectativa_vida_73.23                   : -0.747
expectativa_vida_74.42                   : -0.805
expectativa_vida_75.69                   : -1.244
indice_gini_0.28                         : -1.119
indice_gini_0.44                         : -0.728
indice_gini_0.47                         : -0.679
indice_gini_0.5                          : -0.580
indice_gini_0.52                         : -0.280
taxa_ocupados_sem_carteira_3.03          : -0.636
taxa_ocupados_sem_carteira_15.26         : -0.281
taxa_ocupados_sem_carteira_20.8          : -0.021
taxa_ocupados_sem_carteira_25.305        : -0.013
taxa_ocupados_sem_carteira_29.89000000000003 : -0.053
taxa_agua_encanada_89.25                 : -0.169
taxa_agua_encanada_93.77                 : -0.242
taxa_agua_encanada_97.09                 : -0.181
taxa_mulheres_chefe_filho_15m_0.0        : -0.873
taxa_mulheres_chefe_filho_15m_10.96      : -0.855
taxa_mulheres_chefe_filho_15m_14.760000000000003 : -0.679
taxa_mulheres_chefe_filho_15m_18.83      : -0.519
taxa_mulheres_chefe_filho_15m_23.51000000000001 : -0.297
taxa_agua_encanada_72.53_v2              : -0.053

In [41]:
#Probabilidade da observaÃ§Ã£o padrÃ£o pertencer a classe 1 da variÃ¡vel dependente
1/(1+(np.exp(-(1.3))))

0.7858349830425586

In [42]:
#Probabilidade da observaÃ§Ã£o padrÃ£o mas da classe "expectativa_vida_75.69"
# O beta negativo de 1.244 reduz a probabilidade de pertencer a classe 1 em cerca de 27%
1/(1+(np.exp(-(1.3-1.244))))

0.5139963424803272

## Inserindo interaÃ§Ã£o de variÃ¡veis no modelo

In [43]:
X_train_int = X_train.copy()
X_test_int = X_test.copy()

* Multiplicando as variÃ¡veis

In [45]:
for x in X_train.columns:
    for y in X_train.columns:
        if x == y:
            pass
        else:
            X_train_int[x + "*" + y] = X_train[x]*X_train[y]

In [44]:
for x in X_test.columns:
    for y in X_test.columns:
        if x == y:
            pass
        else:
            X_test_int[x + "*" + y] = X_test[x]*X_test[y]

In [46]:
X_train_int.head()

,localizacao_urbana,expectativa_vida_70.1,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,indice_gini_0.47,indice_gini_0.5,...,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_25.305,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_29.89000000000003,taxa_agua_encanada_72.53_v2*taxa_agua_encanada_89.25,taxa_agua_encanada_72.53_v2*taxa_agua_encanada_93.77,taxa_agua_encanada_72.53_v2*taxa_agua_encanada_97.09,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_0.0,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_10.96,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_23.51000000000001
2115,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3342,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3636,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5024,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* HÃ¡ algumas colunas que todas as linhas sÃ£o iguais, neste caso, todas 0 (zero). NecessÃ¡rio remover

In [47]:
colunas_iguais = X_train_int.columns[(X_train_int.max() - X_train_int.min())==0]

In [48]:
X_train_int_2 = X_train_int.copy().drop(colunas_iguais,axis=1)
X_test_int_2 = X_test_int.copy().drop(colunas_iguais,axis=1)

In [49]:
X_train_int_2.head()

,localizacao_urbana,expectativa_vida_70.1,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,indice_gini_0.47,indice_gini_0.5,...,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_3.03,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_15.26,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_20.8,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_25.305,taxa_agua_encanada_72.53_v2*taxa_ocupados_sem_carteira_29.89000000000003,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_0.0,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_10.96,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_72.53_v2*taxa_mulheres_chefe_filho_15m_23.51000000000001
2115,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3342,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3636,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5024,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* HÃ¡ interaÃ§Ãµes identicas, refletindo em colunas iguais, vamos removÃª-las

In [50]:
variaveis_iguais = X_train_int_2.columns[X_train_int_2.T.duplicated()]

In [51]:
X_train_int_3 = X_train_int_2.copy().drop(variaveis_iguais,axis=1)
X_test_int_3 = X_test_int_2.copy().drop(variaveis_iguais,axis=1)

In [52]:
X_train_int_3.head()

,localizacao_urbana,expectativa_vida_70.1,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,indice_gini_0.47,indice_gini_0.5,...,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_0.0,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_10.96,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_23.51000000000001,taxa_mulheres_chefe_filho_15m_0.0*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_10.96*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_14.760000000000003*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_18.83*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_23.51000000000001*taxa_agua_encanada_72.53_v2
2115,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3342,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3636,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5024,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* Igualmente no comeÃ§o do modelo, vamos verificar se hÃ¡ as altas correlaÃ§Ãµes entre as variÃ¡veis

In [53]:
X_train_int_3['apoio'] = 3
colunas = X_train_int_3.loc[:, X_train_int_3.columns != 'apoio']

In [54]:
# Calculando o vcramer entre as variÃ¡veis categoricas
from scipy.stats import chi2_contingency
chimap = pd.DataFrame(columns=['Var1','Var2','xsq','pvalue','vcramer'])
for x in colunas:
    for y in colunas:
        if x != y:
            chi = X_train_int_3.pivot_table('apoio',index= [x],columns= [y] ,aggfunc = 'count')
            chi=chi.replace(np.nan,0)
            xsq,pvalue,dof,expected=chi2_contingency(chi)
            a = min(len(X_train_int_3[x].unique()),len(X_train_int_3[y].unique()))
            b = len(X_train_int_3[x])
            vcramer = (xsq/(b*(a-1)))**(1/2)
            chimap = chimap.append({'Var1' : x, 'Var2' : y, 'xsq': xsq, 'pvalue': pvalue, 'vcramer':vcramer}, ignore_index=True)
chimap = chimap.sort_values(by = 'vcramer', ascending = False)

In [55]:
chimap = chimap.drop_duplicates(subset="xsq")

In [56]:
# selecionando as correlaÃ§Ãµes acima de 0.5
correl = chimap[chimap['vcramer']>0.5]

In [58]:
# HÃ¡ 72 correlaÃ§oes na condicao acima
correl

,Var1,Var2,xsq,pvalue,vcramer
1697,indice_gini_0.28,localizacao_urbana*indice_gini_0.28,4534.280731,0.0,0.805004
11694,localizacao_urbana*taxa_agua_encanada_97.09,taxa_agua_encanada_97.09,4367.142738,0.0,0.790028
11973,localizacao_urbana*taxa_mulheres_chefe_filho_1...,taxa_mulheres_chefe_filho_15m_0.0,4112.842927,0.0,0.766682
7509,localizacao_urbana*expectativa_vida_73.23,expectativa_vida_73.23,3941.262031,0.0,0.750519
7788,localizacao_urbana*expectativa_vida_74.42,expectativa_vida_74.42,3915.844905,0.0,0.748095
...,...,...,...,...,...
5400,taxa_mulheres_chefe_filho_15m_0.0,expectativa_vida_74.42*taxa_mulheres_chefe_fil...,1797.409380,0.0,0.506836
6459,taxa_mulheres_chefe_filho_15m_23.51000000000001,expectativa_vida_70.1*taxa_mulheres_chefe_filh...,1795.560118,0.0,0.506575
3853,taxa_ocupados_sem_carteira_20.8,taxa_ocupados_sem_carteira_20.8*taxa_agua_enca...,1790.040468,0.0,0.505796
66733,taxa_ocupados_sem_carteira_20.8*taxa_agua_enca...,taxa_ocupados_sem_carteira_20.8,1790.040468,0.0,0.505796
6113,taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_mulheres_chefe_filho_15m_14.7600000000000...,1771.657723,0.0,0.503192

* Para selecionar qual variÃ¡vel remover, empregou-se a regra:
    * Se uma das variÃ¡veis correlacionadas for uma variÃ¡vel original (sem interaÃ§Ã£o), exclui-se a variÃ¡vel da interaÃ§Ã£o
    * Se ambas forem variÃ¡veis oriundas da interaÃ§Ã£o, exclui-se a primeira (Var1)

In [59]:
drop_correl = []
for x, y in zip(correl['Var1'],correl['Var2']):
    if x in X_train.columns:
        drop_correl.append(y)
    else:
        drop_correl.append(x)

In [60]:
X_train_int_3

,localizacao_urbana,expectativa_vida_70.1,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,indice_gini_0.47,indice_gini_0.5,...,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_10.96,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_23.51000000000001,taxa_mulheres_chefe_filho_15m_0.0*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_10.96*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_14.760000000000003*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_18.83*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_23.51000000000001*taxa_agua_encanada_72.53_v2,apoio
2115,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3
3681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3342,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3636,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
5024,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1363,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
7637,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
6468,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
6466,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
7870,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3

In [61]:
X_train_int_3 = X_train_int_3.drop('apoio',axis = 1)

In [62]:
X_train_int_4 = X_train_int_3.copy().drop(drop_correl,axis=1)
X_test_int_4 = X_test_int_3.copy().drop(drop_correl,axis=1)

* Restaram 228 variÃ¡veis, que serÃ£o inseridas no modelo de RegressÃ£o LogÃ­stica com penalizaÃ§Ã£o L1

In [64]:
X_train_int_4.head()

,localizacao_urbana,expectativa_vida_70.1,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,indice_gini_0.47,indice_gini_0.5,...,taxa_agua_encanada_93.77*taxa_mulheres_chefe_filho_15m_10.96,taxa_agua_encanada_93.77*taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_agua_encanada_93.77*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_93.77*taxa_mulheres_chefe_filho_15m_23.51000000000001,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_10.96,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_14.760000000000003,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_97.09*taxa_mulheres_chefe_filho_15m_23.51000000000001,taxa_mulheres_chefe_filho_15m_0.0*taxa_agua_encanada_72.53_v2,taxa_mulheres_chefe_filho_15m_10.96*taxa_agua_encanada_72.53_v2
2115,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3342,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3636,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5024,1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [65]:
params = {
    'C': [0.1,0.3,0.9,1.2,2,5,10,50]
}

lr2 = LogisticRegression(penalty='l1', max_iter=10_000, solver='saga')
grid = GridSearchCV(lr2, params, cv=10, scoring='roc_auc')
grid.fit(X_train_int_4,y_train)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv=10, error_score=nan,
             estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                          fit_intercept=True,
                                          intercept_scaling=1, l1_ratio=None,
                                          max_iter=10000, multi_class='auto',
                                          n_jobs=None, penalty='l1',
                                          random_state=None, solver='saga',
                                          tol=0.0001, verbose=0,
                                          warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'C': [0.1, 0.3, 0.9, 1.2, 2, 5, 10, 50]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [67]:
# Verificando a AUC na base de teste do modelo com interaÃ§Ãµes
# Comparando o modelo regularizado sem interaÃ§Ã£o (0.7543), praticamente nÃ£o houve mudanÃ§a significativa 
from sklearn.metrics import roc_auc_score

auc = roc_auc_score(y_test, grid.predict_proba(X_test_int_4)[:,1])
auc

0.7539154568407946

In [68]:
# Selecionando as variÃ¡veis com beta diferente de zero
colunas = []
for col, coef in zip(X_train_int_4.columns,grid.best_estimator_.coef_[0]):
    if coef==0:
        pass
    else:
        colunas.append(col)

In [70]:
# Restaram 39 variÃ¡veis
len(colunas)

39

In [71]:
X_train_int_5 = X_train_int_4[colunas]
X_test_int_5 = X_test_int_4[colunas]

In [72]:
X_train_int_5.head()

,localizacao_urbana,expectativa_vida_71.62,expectativa_vida_73.23,expectativa_vida_74.42,expectativa_vida_75.69,indice_gini_0.28,indice_gini_0.44,indice_gini_0.47,indice_gini_0.5,indice_gini_0.52,...,indice_gini_0.5*taxa_ocupados_sem_carteira_20.8,indice_gini_0.5*taxa_ocupados_sem_carteira_25.305,indice_gini_0.5*taxa_mulheres_chefe_filho_15m_14.760000000000003,indice_gini_0.52*taxa_mulheres_chefe_filho_15m_23.51000000000001,taxa_ocupados_sem_carteira_3.03*taxa_mulheres_chefe_filho_15m_10.96,taxa_ocupados_sem_carteira_15.26*taxa_mulheres_chefe_filho_15m_0.0,taxa_ocupados_sem_carteira_20.8*taxa_mulheres_chefe_filho_15m_0.0,taxa_ocupados_sem_carteira_25.305*taxa_agua_encanada_89.25,taxa_ocupados_sem_carteira_29.89000000000003*taxa_mulheres_chefe_filho_15m_18.83,taxa_agua_encanada_93.77*taxa_mulheres_chefe_filho_15m_18.83
2115,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3681,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3342,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3636,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5024,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* Com as 39 variÃ¡veis, processa-se a RegressÃ£o LogÃ­stica sem regularizaÃ§Ã£o, obtendo betas interpretÃ¡veis

In [73]:
lr_sel = LogisticRegression(penalty='none', max_iter=10_000,solver='saga')
lr_sel.fit(X_train_int_5,y_train)

C:\Users\gcabr\Anaconda3\lib\site-packages\sklearn\utils\validation.py:744: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='none',
                   random_state=None, solver='saga', tol=0.0001, verbose=0,
                   warm_start=False)

In [76]:
# O AUC com interaÃ§Ãµes foi ligeiramente inferior ao modelo sem este processo (0.7533)
auc = roc_auc_score(y_test, lr_sel.predict_proba(X_test_int_5)[:,1])
auc

0.7471150425072284

* Aqui, novamente, valeria uma analise dos betas de cada variÃ¡vel (com interaÃ§Ã£o ou nÃ£o), realizando ajustes caso algum efeito nÃ£o faÃ§a sentido para o problema

In [75]:
print(f'{"Intercepto":40s} : {lr_sel.intercept_[0]:.4f}')
for col, coef in zip(X_train_int_5.columns,lr_sel.coef_[0]):
    print(f'{col:40s} : {coef:.3f}')

Intercepto                               : 1.3625
localizacao_urbana                       : -0.130
expectativa_vida_71.62                   : -0.104
expectativa_vida_73.23                   : -0.540
expectativa_vida_74.42                   : -0.640
expectativa_vida_75.69                   : -1.194
indice_gini_0.28                         : -1.064
indice_gini_0.44                         : -0.650
indice_gini_0.47                         : -0.661
indice_gini_0.5                          : -0.386
indice_gini_0.52                         : -0.205
taxa_ocupados_sem_carteira_3.03          : -0.643
taxa_ocupados_sem_carteira_15.26         : -0.217
taxa_agua_encanada_89.25                 : -0.293
taxa_agua_encanada_93.77                 : -0.481
taxa_agua_encanada_97.09                 : -0.312
taxa_mulheres_chefe_filho_15m_0.0        : -0.575
taxa_mulheres_chefe_filho_15m_10.96      : -0.678
taxa_mulheres_chefe_filho_15m_14.760000000000003 : -0.509
taxa_mulheres_chefe_filho_15m_18.83      : -0.460
taxa_mulheres_chefe_filho_15m_23.51000000000001 : -0.256
expectativa_vida_70.1*indice_gini_0.5    : -0.490
expectativa_vida_70.1*indice_gini_0.52   : -0.278
expectativa_vida_71.62*taxa_agua_encanada_89.25 : -0.243
expectativa_vida_71.62*taxa_mulheres_chefe_filho_15m_10.96 : -0.514
expectativa_vida_71.62*taxa_mulheres_chefe_filho_15m_14.760000000000003 : -0.543
expectativa_vida_73.23*taxa_mulheres_chefe_filho_15m_18.83 : -0.402
expectativa_vida_73.23*taxa_agua_encanada_72.53_v2 : -0.380
expectativa_vida_74.42*taxa_agua_encanada_72.53_v2 : -0.517
indice_gini_0.44*taxa_ocupados_sem_carteira_20.8 : -0.403
indice_gini_0.5*taxa_ocupados_sem_carteira_20.8 : 0.460
indice_gini_0.5*taxa_ocupados_sem_carteira_25.305 : -0.436
indice_gini_0.5*taxa_mulheres_chefe_filho_15m_14.760000000000003 : -0.386
indice_gini_0.52*taxa_mulheres_chefe_filho_15m_23.51000000000001 : -0.116
taxa_ocupados_sem_carteira_3.03*taxa_mulheres_chefe_filho_15m_10.96 : -0.309
taxa_ocupados_sem_carteira_15.26*taxa_mulheres_chefe_filho_15m_0.0 : -0.761
taxa_ocupados_sem_carteira_20.8*taxa_mulheres_chefe_filho_15m_0.0 : -0.881
taxa_ocupados_sem_carteira_25.305*taxa_agua_encanada_89.25 : 0.482
taxa_ocupados_sem_carteira_29.89000000000003*taxa_mulheres_chefe_filho_15m_18.83 : -0.418
taxa_agua_encanada_93.77*taxa_mulheres_chefe_filho_15m_18.83 : 0.692